/obj/
/obj*/**
/**/obj/
/**/obj*/**
/bin/
/tests/bin/
/alire/
/config/
/build/
/build*/**
/lib/*.a
/lib/*.ali
/lib/*.o
/lib/st*
/tools/bin/
/tools/obj/
/tools/obj*/**
/*.ali
/*.o
/*_debug
/*_probe
/probe_*
/debug_*
/check_*
/sanitize_debug
/startup_debug
/outline_*debug
/README_PASS*.txt
/tests/*_debug
/tests/recent_debug
/tests/**/recent_debug
